/* Make the table horizontally scrollable on smaller screens */
.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
}

/* Optional: Make table columns wrap on small screens */
@media (max-width: 768px) {
  .table th, .table td {
    white-space: nowrap;
  }
}

/* Add some padding/margins for better spacing
.table th, .table td {
  padding: 8px;
  vertical-align: middle;
} */


.table {
  table-layout: fixed; /* Makes the table columns have equal width */
  width: 100%;
  max-width: 100%;
}

.table th, .table td {
  width: 130px; /* Adjust column width as needed */
}
